*.txt
*.jar
target
*.png
*.properties
*.log
*.iml
.idea
.tdlight-libs-cache
animations
documents
music
passport
photos
profile_photos
secret
secret_thumbnails
stickers
temp
thumbnails
video_notes
videos
voice
wallpapers
*.binlog